@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@reference "tailwindcss";

.textarea {
    @apply px-4 py-2 border border-gray-300 rounded-md text-base transition-colors duration-200 resize-y min-h-[100px];
    @include focus-ring;

    &::placeholder {
        @apply text-gray-400;
    }

    &:hover:not(:disabled) {
        @apply border-gray-400;
    }

    &:focus {
        @apply border-blue-600;
    }

    &:disabled {
        @apply bg-gray-100 cursor-not-allowed opacity-50;
    }

    &--error {
        @apply border-red-500;

        &:focus {
            @apply border-red-600;
        }
    }

    &--full-width {
        @apply w-full;
    }
}