@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@reference "tailwindcss";

.home-page {
    @apply min-h-screen bg-gray-50;

    &__main {
        @include container;
        @apply py-8;
    }

    &__loading {
        @apply flex items-center justify-center py-20 text-gray-600 text-lg;
    }
}